@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

/* helper classes */
.bottom-space {
  margin-bottom: $bottom-space;

  @include media('<mob') {
    margin-bottom: $bottom-space--mob;
  }
}

.section-space {
  margin-bottom: $bottom-section;

  @include media('<mob') {
    margin-bottom: $bottom-section--mob;
  }
}

.mark {
  color: $mark-color;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.push-auto {
  margin-left: auto;
  margin-right: auto;
}

.nobr {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.hide-text {
  @include hide-text;
}

.desktop-only {
  @include media("<tab") {
    display: none;
  }
}

.devices-only {
  @include media(">=tab") {
    display: none;
  }
}

.mobile-only {
  @include media(">=mob") {
    display: none;
  }
}

/* ==================================== */
/* ======= NON CONTENT ELEMENTS ======= */
/* ==================================== */
/* breadcrumbs */
.breadcrumbs {
  color: $text-color-light;
  margin-bottom: $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: default;
}

.breadcrumbs__item {
  display: inline;
  padding-right: 0.6rem;
  margin: 0;

  &::after {
    display: inline;
    content: "•";
    padding-left: 0.7em;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

/* breadcrumbs end */

/* ==================================== */
/* ============== HEADER ============== */
/* ==================================== */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: $layout-page-min-width;
  z-index: 50;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 0 0;
}

.hc-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
}

/* logo */
.logo {
  position: relative;
  width: 23.8rem;
  flex-shrink: 0;
  z-index: 5;

  &::before {
    content: "";
    display: block;
    @include ratio(238, 60)
  }

  a,
  & > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    & > span {
      @include hide-text;
    }
  }

  .logo_dark,
  .logo_light {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    transition: opacity 0.8s;
  }

  .logo_dark {
    background-image: url(../../img/logo.svg);
  }

  .logo_light {
    background-image: url(../../img/logo-alt.svg);
    opacity: 0;
  }

  .fp-viewing-section2 &,
  .fp-viewing-section3 &,
  .fp-viewing-section4 &,
  .fp-viewing-section5 & {
    .logo_dark {
      opacity: 0;
    }

    .logo_light {
      opacity: 1;
    }
  }
}

/* logo end */

/* lang */
.lang {
  @include font-alt-extra-bold;
  color: $text-color;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: inherit;
  }
}

/* lang end */

/* ==================================== */
/* ============ NAVIGATION ============ */
/* ==================================== */
.nav-wrap {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  // Поднять над контентом
  z-index: 50;

  // ------ бутерброд -----------------------------------------
  @include media("<tab") {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 48rem;
    max-width: 100%;
    text-align: left;
    background-color: rgba($base-color, 0.9);
    z-index: 999;
    transition: {
      property: opacity, visibility, transform;
      duration: $animation-speed;
    };

    // hide
    opacity: 0;
    $translate: -100%, 0;
    transform: translate($translate);
    transform: translate3d($translate, 0);
  }

  @include media('<tab-s') {
    width: 32rem;
  }

  @include media('<mob') {
    width: 100%;
  }

  &.is-open {
    // ------ бутерброд -----------------------------------------
    @include media("<tab") {
      opacity: 1;
      $translate: 0, 0;
      transform: translate($translate);
      transform: translate3d($translate, 0);
    }
  }
}

// Overlay
.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.8);
  z-index: 998;
  transition: opacity $animation-speed;

  opacity: 0;
  pointer-events: none;

  display: none;

  // ------ бутерброд -----------------------------------------
  @include media("<tab") {
    display: block;
  }
}

.nav-wrap.is-open ~ .nav-overlay {
  opacity: 1;
  pointer-events: auto;
}

// Navigation opener
.nav-opener {
  display: block;
  position: relative;
  $size: 4rem;
  height: $size;
  width: $size;
  font-size: 0;
  line-height: 0;
  cursor: pointer;

  display: none;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &::before {
    height: 1.7rem;
    width: 2.6rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB3aWR0aD0iMjYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAyNiAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMjYiIGhlaWdodD0iMyIgcng9IjEuNSI+PC9yZWN0PjxyZWN0IHk9IjciIHdpZHRoPSIyNiIgaGVpZ2h0PSIzIiByeD0iMS41Ij48L3JlY3Q+PHJlY3QgeT0iMTQiIHdpZHRoPSIyNiIgaGVpZ2h0PSIzIiByeD0iMS41Ij48L3JlY3Q+PC9zdmc+);
  }

  &::after {
    height: 2.5rem;
    width: 2.7rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIwLjQ0NjUzMyIgeT0iMTIuNCIgd2lkdGg9IjE3IiBoZWlnaHQ9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKC00NCAwLjQ0NjUzMyAxMi40KSI+PC9yZWN0PjxyZWN0IHg9IjEiIHk9IjExIiB3aWR0aD0iMjYiIGhlaWdodD0iMyIgcng9IjEuNSI+PC9yZWN0PjxyZWN0IHg9IjIuNTgwMzIiIHk9IjEwLjQyODUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIzIiByeD0iMS41IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSAyLjU4MDMyIDEwLjQyODUpIj48L3JlY3Q+PC9zdmc+);
    display: none;
  }

  @include media('<tab') {
    display: block;
  }

  &.is-open {
    &::before {
      display: none;
    }

    &::after {
      display: block;
    }
  }
}

// Navigation header (for mobile)
.nav-header {
  position: relative;
  //display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 0 0 0 1.5rem;
  border-bottom: 0.1rem solid rgba(white, 0.5);

  display: none;

  @include media('<tab') {
    display: flex;
  }
}

// Logo in nav
.logo-nav {
  display: block;
  position: relative;
  height: 4rem;
  width: 16rem;
  font-size: 0;
  line-height: 0;
  background-image: url(../../img/logo-alt.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 85%;
}

// Navigation close button
.nav-close-btn {
  position: relative;
  display: block;
  $size: 4rem;
  height: $size;
  width: $size;
  margin-left: auto;
  overflow: hidden;
  text-indent: -999rem;

  &::before {
    content: "";
    display: block;
    $size: 1.8rem;
    height: $size;
    width: $size;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+);
    background-size: contain;
  }
}

// Navigation
.nav {
  position: relative;
  display: inline-block;
  vertical-align: top;

  // ------ бутерброд -----------------------------------------
  @include media("<tab") {
    display: block;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.nav__list {
  $nav-inner-space: 1.5rem 2rem;
  $nav-arrow-size: 4rem;
  $nav-item-space: 1em 1.5rem;
  $nav-item-indent: 0.4;

  display: flex;
  flex-wrap: wrap;
  cursor: default;
  color: $text-color;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: left;

  @include media('<net') {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  @include media('<tab') {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  // Все ul
  &, & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // ------ бутерброд -----------------------------------------
  @include media("<tab") {
    display: block;
  }

  // Все li,
  // кроме li первого уровня (для них стили ниже)
  li {
    position: relative;

    // ------ бутерброд -----------------------------------------
    @include media("<tab") {
      // Слева текст, справа стрелка
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  // Все "a" и "span"
  // "a" заменять на "span" в пункте текущей страницы
  a,
  li > span {
    //display: block;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    // ------ бутерброд -----------------------------------------
    @include media("<tab") {
      padding: 0 1rem 0 0;
      overflow: visible;
    }
  }

  // Все "a"
  a {
    color: inherit;
    text-decoration: none;

    // ------ бутерброд -----------------------------------------
    @include media('<tab') {
      $width: calc(100% - #{$nav-arrow-size});
      max-width: $width;
    }
  }

  // Пункты, в которых есть подменю
  li.has-sub {
    & > a,
    & > span {
      padding-right: $nav-arrow-size;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        padding-right: 1rem;

        // Если в пункте есть стрелка,
        // то нужно ограничить максимальную ширину "a"
        max-width: calc(100% - #{$nav-arrow-size});
      }
    }
  }

  // Вложенные ul (sub menu)
  ul {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    flex-basis: 100%;
    display: none;

    // transition
    transition: opacity $animation-speed, visibility $animation-speed;

    // Important!
    // Для разрешений выше планшетных
    @include media(">=tab") {
      display: block !important; // Важно! Перебить инлайновые стили установленные скпиптом
      position: absolute;
      right: 0;
      top: 100%;
      width: 28rem;
      padding: 1.5rem 0;
      opacity: 0;
      visibility: hidden; // При переводе фокуса табом, элементы внутри скрытого дропа игнорируются
      pointer-events: none; // На это ствойство не добавлять анимацию
    }

    &::before {
      $intend: 1rem -0.5rem;
      content: "";
      display: block;
      position: absolute;
      top: #{nth($intend, 1)};
      left: #{nth($intend, 2)};
      height: calc(100% - #{nth($intend, 1)} * 2);
      width: calc(100% - #{nth($intend, 2)} * 2);
      background-color: $bg-color-alt;
      //@include linear-gradient(180deg, #3c3c3c 0%, #6a6a6a 100%);
      //box-shadow: 0 0.2rem 3.3rem rgba(0, 0, 0, 0.5);
      border-radius: 0.2rem;
      z-index: -1;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        content: none;
      }
    }

    // Позицирование подменю
    // ВТОРОГО и глубже уровней
    ul {
      left: 100%;
      top: -0.5rem;
      text-transform: none;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        left: auto;
        top: auto;
      }
    }

    // Пункты ВТОРГО уровня и глубще
    li {
      margin: 0.5rem 0 0;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        margin: 0;
        padding: #{nth($nav-item-space, 1)} 0 0 #{nth($nav-item-space, 2)};
      }

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: block;
      transition: color $animation-speed;
    }

    // Hover
    li {
      // Класс .hover добавляется скриптом
      &.hover,
      .no-js &:hover {
        & > a,
        & > span {
          color: $highlight-color;
        }
      }
    }

    // Current
    li.current {
      & > a,
      & > span {
        color: $highlight-color;

        @include media('<tab') {
          color: $text-color-muted;
        }
      }
    }

    // Current Hover
    li.current.hover {
      & > a {
        color: white;
      }
    }
  }

  // Для текущей страницы
  li.current > ul {
    display: block;
  }

  // Показать подменю.
  // Класс .hover добавляется скриптом.
  // Если отключены скрипты, Показывать через :hover.
  li.hover > ul,
  .no-js & li:hover > ul {
    // Для разрешений выше планшетных
    @include media(">=tab") {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 5;
    }
  }

  // Стрелка для разворачивания подменю.
  li > em {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 0;
    line-height: 0;
    height: $nav-arrow-size;
    width: $nav-arrow-size;
    margin-top: -#{round-float($nav-arrow-size / 2, 1)};
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: $text-color;
    transform: rotate(-90deg);
    transition: color $animation-speed;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    user-select: none;
    outline: none;

    &.jsNav__arrow_on {
      pointer-events: auto;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      $size: 1.2rem;
      height: $size;
      width: $size;
      margin: -#{round-float($size / 2, 1)} 0 0 -#{round-float($size / 2, 1)};
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxLjIyMjY2TDguMjA5OTYgOC42MjEwOUwxNS40MTk5IDEuMjIyNjYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }

    &:hover {
      &::after {
        @include linear-gradient(to bottom, lighten($base-color, 10%) 0%, $base-color 100%)
      }
    }

    @at-root {
      @include media("<tab") {
        li.is-open > em {
          transform: rotate(180deg);
        }
      }
    }

    // ------ бутерброд -----------------------------------------
    @include media("<tab") {
      position: relative;
      top: auto;
      right: auto;
      margin: -1rem -1.5rem -1rem 0;
      transform: rotate(0);
      pointer-events: auto;
    }

    // Open, Hover
    @at-root {
      li.hover > em {
        transform: rotate(90deg);
      }

      @include media("<tab") {
        li.is-open > em {
          transform: rotate(180deg);
        }
      }
    }
  }

  // li ПЕРВОГО уровня
  & > li {
    margin: 0 2rem;
    //@include font-bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @include media('<desk-s') {
      margin-right: 2rem;
    }

    @include media('<net') {
      margin-right: 1.3rem;
    }

    // ------ бутерброд -----------------------------------------
    @include media("<tab") {
      padding: $nav-item-space;
      border-top: 1px solid rgba($text-color, 0.5);
      margin: 0;
    }

    &:first-child {
      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        border-top: none;
      }
    }

    &:last-child {
      //margin-right: 0;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        // no styles
      }
    }

    // Все "a" и "span" первого уровня
    // "a" заменять на "span" в пункте текущей страницы
    & > a, & > span {
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0.4rem;
        width: calc(100% - 0.8rem);
        height: 0.2rem;
        //border-radius: 50%;
        background-color: currentColor;
        transform-origin: 100% 100%;
        $scale: 0, 1;
        transform: scale($scale);
        transform: scale3d($scale, 1);

        // transition
        backface-visibility: hidden;
        $prop: transform, opacity;
        will-change: $prop;
        transition: {
          property: $prop;
          duration: $animation-speed;
          //timing-function: ease-in-out;
          timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
        }

        // ------ бутерброд -----------------------------------------
        @include media("<tab") {
          content: none;
        }
      }
    }

    // Стрелка для разворачивания подменю
    & > em {
      // Если стили стрелок первого уровня навигаци отличаются, от остальных
      display: none;

      // ------ бутерброд -----------------------------------------
      @include media("<tab") {
        display: block;
      }
    }

    // Hover
    // Класс .hover добавляется скриптом
    &.hover,
    .no-js &:hover {
      & > a {
        &::before {
          transform-origin: 0 100%;

          $scale: 1, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);
        }
      }
    }

    // Пункт для текущей страницы
    // Current
    &.current {
      & > a,
      & > span {
        //@include font-bold;
        position: relative;
        z-index: 1;
        overflow: visible;
        cursor: default;

        // ------ бутерброд -----------------------------------------
        @include media("<tab") {
          color: $text-color-muted;
        }

        &::after {
          content: "";
          position: absolute;
          top: -2.1rem;
          left: 0.5rem;
          right: 0.5rem;
          height: 0.5rem;
          background-color: $highlight-color;

          will-change: transform, opacity;
          transition: transform $animation-speed * 1.5;
          transform-origin: 3rem center;

          $scale: 0, 1;
          transform: scale($scale);
          transform: scale3d($scale, 1);

          z-index: -1;

          html.ready &,
          html.no-js & {
            opacity: 1;
            $scale: 1, 1;
            transform: scale($scale);
            transform: scale3d($scale, 1);
          }

          // ------ бутерброд -----------------------------------------
          @include media("<tab") {
            content: none;
          }
        }
      }
    }
  }
}

/* ==================================== */
/* ============= FOOTER =============== */
/* ==================================== */
.footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  &.fp-section-js {
    height: auto !important;
    box-shadow: none;
  }
}

/* ==================================== */
/* ============== MAIN ================ */
/* ==================================== */
.main {
  position: relative;
}

.h-main {
  overflow: hidden;
}

.content {
  background-color: rgba(whitesmoke, 0.8);
}

/* main section */
.main-section {
  position: relative;
  padding: 0;

  @include media('<tab') {
    display: block;
    height: auto !important;
    min-height: 0;
    padding: 0;
  }

  @include media('<mob') {
    padding: 0;
  }
}

/* main section end */

/* case section */
.case-section {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding-top: 14rem;
  padding-bottom: nth($layout-page-space, 1);

  @include media('<tab') {
    display: block;
    height: auto !important;
    min-height: 0;
    padding-top: nth($layout-page-space--tab, 1);
    padding-bottom: nth($layout-page-space--tab, 1);
  }

  @include media('<mob') {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  h1, h2, h3 {
    color: inherit;
  }
}

.case-section__layout {
  flex: 1 0 100%;
  width: 100%;
  max-width: 100%;
}

/* case section end */

/* case 01 */
.case-section_case-01 {
  background-color: #282828;
  color: #fff;
}

/* case 01 end */

/* case 02 */
.case-section_case-02 {
  background-color: #463297;
  color: #fff;
}

/* case 02 end */

/* case 03 */
.case-section_case-03 {
  background-color: #e02020;
  color: #fff;
}

/* case 03 end */